{% extends 'base.html' %}

{% block title %}
Sign Up
{% endblock %}

{% block content %}
  <div class="wrapper">
    <h1>Sign Up Page</h1>
    <form method="POST" action="/">
      {{ form.hidden_tag() }}

      <div class="input-box">
        <img src="{{ url_for('static', filename='css/images/user.png') }}">
      {{ form.username(placeholder="Username") }}
      {% for error in form.username.errors %}
          <p class="error-message">{{ error }}</p>
      {% endfor %}
        </div>

        <div class="input-box">
            <img src="{{ url_for('static', filename='css/images/mail.png') }}">
      {{ form.email(placeholder="Email") }}
      {% for error in form.email.errors %}
          <p class="error-message">{{ error }}</p>
      {% endfor %}
        </div>

        <div class="input-box">
            <img src="{{ url_for('static', filename='css/images/check.png') }}">
            {{ form.confirm_email(placeholder="Confirm Email") }}
      {% for error in form.confirm_email.errors %}
          <p class="error-message">{{ error }}</p>
      {% endfor %}
        </div>

        <div class="input-box">
        <img src="{{ url_for('static', filename='css/images/lock.png') }}">
      {{ form.password(placeholder="Password") }}
      {% for error in form.password.errors %}
          <p class="error-message">{{ error }}</p>
      {% endfor %}
        </div>

        <div class="input-box">
        <img src="{{ url_for('static', filename='css/images/shield.png') }}">
      {{ form.confirm_password(placeholder="Confirm Password") }}
      {% for error in form.confirm_password.errors %}
          <p class="error-message">{{ error }}</p>
      {% endfor %}
        </div>

      <button class="btn" type="submit">Sign Up</button>
      <div class="redirect-link">
        <p>
            Already have an account? <a href="{{ url_for('login') }}">Login</a>
        </p>
      </div>
  </form>
  </div>


{% endblock %} 